@import url(https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
.theme-light:root {
  --synqats-gb-bg-0: var(--synqats-gb-bg-0-light);
  --synqats-gb-bg-1: var(--synqats-gb-bg-1-light);
  --synqats-gb-bg-2: var(--synqats-gb-bg-2-light);
  --synqats-gb-bg-3: var(--synqats-gb-bg-3-light);
  --synqats-gb-bg-4: var(--synqats-gb-bg-4-light);
  --synqats-gb-bg-5: var(--synqats-gb-bg-5-light);
  --synqats-gb-bg-dim: var(--synqats-gb-bg-dim-light);
  --synqats-gb-bg-word: var(--synqats-gb-bg-word-light);
  --synqats-gb-bg-diff-green: var(--synqats-gb-bg-diff-green-light);
  --synqats-gb-bg-diff-blue: var(--synqats-gb-bg-diff-blue-light);
  --synqats-gb-bg-diff-red: var(--synqats-gb-bg-diff-red-light);
  --synqats-gb-bg-visual-yellow: var(--synqats-gb-bg-visual-yellow-light);
  --synqats-gb-bg-visual-green: var(--synqats-gb-bg-visual-green-light);
  --synqats-gb-bg-visual-blue: var(--synqats-gb-bg-visual-blue-light);
  --synqats-gb-bg-visual-red: var(--synqats-gb-bg-visual-red-light);
  --synqats-gb-bg-accent-yellow: var(--synqats-gb-bg-accent-yellow-light);
  --synqats-gb-bg-accent-green: var(--synqats-gb-bg-accent-green-light);
  --synqats-gb-bg-accent-red: var(--synqats-gb-bg-accent-red-light);
  --synqats-gb-fg-0: var(--synqats-gb-fg-0-light);
  --synqats-gb-fg-1: var(--synqats-gb-fg-1-light);
  --synqats-gb-grey-0: var(--synqats-gb-grey-0-light);
  --synqats-gb-grey-1: var(--synqats-gb-grey-1-light);
  --synqats-gb-grey-2: var(--synqats-gb-grey-2-light);
  --synqats-gb-accent-red: var(--synqats-gb-accent-red-light);
  --synqats-gb-accent-orange: var(--synqats-gb-accent-orange-light);
  --synqats-gb-accent-yellow: var(--synqats-gb-accent-yellow-light);
  --synqats-gb-accent-green: var(--synqats-gb-accent-green-light);
  --synqats-gb-accent-aqua: var(--synqats-gb-accent-aqua-light);
  --synqats-gb-accent-blue: var(--synqats-gb-accent-blue-light);
  --synqats-gb-accent-purple: var(--synqats-gb-accent-purple-light);
}

.theme-dark:root {
  --synqats-gb-bg-0: var(--synqats-gb-bg-0-dark);
  --synqats-gb-bg-1: var(--synqats-gb-bg-1-dark);
  --synqats-gb-bg-2: var(--synqats-gb-bg-2-dark);
  --synqats-gb-bg-3: var(--synqats-gb-bg-3-dark);
  --synqats-gb-bg-4: var(--synqats-gb-bg-4-dark);
  --synqats-gb-bg-5: var(--synqats-gb-bg-5-dark);
  --synqats-gb-bg-dim: var(--synqats-gb-bg-dim-dark);
  --synqats-gb-bg-word: var(--synqats-gb-bg-word-dark);
  --synqats-gb-bg-diff-green: var(--synqats-gb-bg-diff-green-dark);
  --synqats-gb-bg-diff-blue: var(--synqats-gb-bg-diff-blue-dark);
  --synqats-gb-bg-diff-red: var(--synqats-gb-bg-diff-red-dark);
  --synqats-gb-bg-visual-yellow: var(--synqats-gb-bg-visual-yellow-dark);
  --synqats-gb-bg-visual-green: var(--synqats-gb-bg-visual-green-dark);
  --synqats-gb-bg-visual-blue: var(--synqats-gb-bg-visual-blue-dark);
  --synqats-gb-bg-visual-red: var(--synqats-gb-bg-visual-red-dark);
  --synqats-gb-bg-accent-yellow: var(--synqats-gb-bg-accent-yellow-dark);
  --synqats-gb-bg-accent-green: var(--synqats-gb-bg-accent-green-dark);
  --synqats-gb-bg-accent-red: var(--synqats-gb-bg-accent-red-dark);
  --synqats-gb-fg-0: var(--synqats-gb-fg-0-dark);
  --synqats-gb-fg-1: var(--synqats-gb-fg-1-dark);
  --synqats-gb-grey-0: var(--synqats-gb-grey-0-dark);
  --synqats-gb-grey-1: var(--synqats-gb-grey-1-dark);
  --synqats-gb-grey-2: var(--synqats-gb-grey-2-dark);
  --synqats-gb-accent-red: var(--synqats-gb-accent-red-dark);
  --synqats-gb-accent-orange: var(--synqats-gb-accent-orange-dark);
  --synqats-gb-accent-yellow: var(--synqats-gb-accent-yellow-dark);
  --synqats-gb-accent-green: var(--synqats-gb-accent-green-dark);
  --synqats-gb-accent-aqua: var(--synqats-gb-accent-aqua-dark);
  --synqats-gb-accent-blue: var(--synqats-gb-accent-blue-dark);
  --synqats-gb-accent-purple: var(--synqats-gb-accent-purple-dark);
}

html:root,
.theme-dark,
.theme-light {
  --textbox-markdown-syntax: var(--synqats-gb-fg-0);
  --background-primary: var(--synqats-gb-bg-0);
  --background-secondary: var(--synqats-gb-bg-0);
  --background-secondary-alt: var(--synqats-gb-bg-dim);
  --background-tertiary: var(--synqats-gb-bg-dim);
  --background-floating: var(--synqats-gb-bg-0);
  --background-modifier-accent: var(--synqats-gb-bg-dim);
  --background-modifier-hover: var(--synqats-gb-bg-0);
  --background-modifier-active: var(--synqats-gb-bg-3);
  --background-modifier-selected: var(--synqats-gb-bg-4);
  --modal-background: var(--synqats-gb-bg-1);
  --modal-footer-background: var(--synqats-gb-bg-dim);
  --mention-background: var(--synqats-gb-bg-diff-red);
  --bg-overlay-1: var(--synqats-gb-bg-word);
  --bg-overlay-2: var(--synqats-gb-bg-0);
  --bg-overlay-3: var(--synqats-gb-bg-0);
  --bg-overlay-chat: var(--synqats-gb-bg-1);
  --bg-overlay-app-frame: var(--synqats-gb-bg-dim);
  --bg-overlay-selected: var(--synqats-gb-bg-2);
  --bg-overlay-hover: var(--synqats-gb-bg-4);
  --bg-overlay-active: var(--synqats-gb-bg-1);
  --embed-title: var(--synqats-gb-fg-0);
  --text-normal: var(--synqats-gb-fg-0);
  --text-muted: var(--synqats-gb-grey-0);
  --interactive-active: var(--synqats-gb-fg-1);
  --interactive-hover: var(--synqats-gb-fg-1);
  --interactive-muted: var(--synqats-gb-grey-0);
  --interactive-normal: var(--synqats-gb-grey-2);
  --header-primary: var(--synqats-gb-fg-1);
  --header-secondary: var(--synqats-gb-grey-2);
  --channel-icon: var(--synqats-gb-grey-2);
  --channels-default: var(--synqats-gb-grey-2);
  --input-placeholder-text: var(--synqats-gb-grey-1);
  --channel-text-area-placeholder: var(--synqats-gb-grey-1);
  --button-secondary-background: var(--synqats-gb-bg-4);
  --button-secondary-background-active: var(--synqats-gb-bg-5);
  --button-secondary-background-disabled: var(--synqats-gb-bg-word);
  --button-secondary-background-hover: var(--synqats-gb-bg-5);
  --button-positive-background: var(--green-430);
  --button-positive-background-active: var(--green-530);
  --button-positive-background-disabled: var(--green-430);
  --button-positive-background-hover: var(--green-500);
  --button-danger-background: var(--red-430);
  --button-danger-background-active: var(--red-530);
  --button-danger-background-disabled: var(--red-430);
  --button-danger-background-hover: var(--red-500);
  --button-outline-brand-background: hsl(var(--white-500-hsl) / 0);
  --button-outline-brand-background-active: var(--brand-560);
  --button-outline-brand-background-hover: var(--brand-500);
  --button-outline-brand-border: var(--brand-500);
  --button-outline-brand-border-active: var(--brand-560);
  --button-outline-brand-border-hover: var(--brand-500);
  --button-outline-brand-text: var(--white-500);
  --button-outline-brand-text-active: var(--white-500);
  --button-outline-brand-text-hover: var(--white-500);
  --button-outline-danger-background: hsl(var(--white-500-hsl) / 0);
  --button-outline-danger-background-active: var(--red-460);
  --button-outline-danger-background-hover: var(--red-430);
  --button-outline-danger-border: var(--red-400);
  --button-outline-danger-border-active: var(--red-430);
  --button-outline-danger-border-hover: var(--red-430);
  --button-outline-danger-text: var(--white-500);
  --button-outline-danger-text-active: var(--white-500);
  --button-outline-danger-text-hover: var(--white-500);
  --button-outline-positive-background: hsl(var(--white-500-hsl) / 0);
  --button-outline-positive-background-active: var(--green-530);
  --button-outline-positive-background-hover: var(--green-430);
  --button-outline-positive-border: var(--green-360);
  --button-outline-positive-border-active: var(--green-530);
  --button-outline-positive-border-hover: var(--green-430);
  --button-outline-positive-text: var(--white-500);
  --button-outline-positive-text-active: var(--white-500);
  --button-outline-positive-text-hover: var(--white-500);
  --button-outline-primary-background: transparent;
  --button-outline-primary-background-active: var(--synqats-gb-bg-1);
  --button-outline-primary-background-hover: var(--synqats-gb-bg-4);
  --button-outline-primary-border: var(--synqats-gb-bg-4);
  --button-outline-primary-border-active: var(--synqats-gb-bg-5);
  --button-outline-primary-border-hover: var(--synqats-gb-bg-5);
  --button-outline-primary-text: var(--synqats-gb-grey-2);
  --button-outline-primary-text-active: var(--synqats-gb-fg-1);
  --button-outline-primary-text-hover: var(--synqats-gb-fg-1);
  --brand-experiment: var(--synqats-gb-accent-purple);
  --brand-100: var(--synqats-gb-accent-purple);
  --brand-130: var(--synqats-gb-accent-purple);
  --brand-160: var(--synqats-gb-accent-purple);
  --brand-200: var(--synqats-gb-accent-purple);
  --brand-230: var(--synqats-gb-accent-purple);
  --brand-260: var(--synqats-gb-accent-purple);
  --brand-300: var(--synqats-gb-accent-purple);
  --brand-330: var(--synqats-gb-accent-purple);
  --brand-345: var(--synqats-gb-accent-purple);
  --brand-360: var(--synqats-gb-accent-purple);
  --brand-400: var(--synqats-gb-accent-purple);
  --brand-430: var(--synqats-gb-accent-purple);
  --brand-460: var(--synqats-gb-accent-purple);
  --brand-500: var(--synqats-gb-accent-purple);
  --brand-530: var(--synqats-gb-accent-purple);
  --brand-560: var(--synqats-gb-accent-purple);
  --brand-600: var(--synqats-gb-accent-purple);
  --brand-630: var(--synqats-gb-accent-purple);
  --brand-660: var(--synqats-gb-accent-purple);
  --brand-700: var(--synqats-gb-accent-purple);
  --brand-730: var(--synqats-gb-accent-purple);
  --brand-760: var(--synqats-gb-accent-purple);
  --brand-800: var(--synqats-gb-accent-purple);
  --brand-830: var(--synqats-gb-accent-purple);
  --brand-860: var(--synqats-gb-accent-purple);
  --brand-900: var(--synqats-gb-accent-purple);
  --orange-100: var(--synqats-gb-accent-orange);
  --orange-130: var(--synqats-gb-accent-orange);
  --orange-160: var(--synqats-gb-accent-orange);
  --orange-200: var(--synqats-gb-accent-orange);
  --orange-230: var(--synqats-gb-accent-orange);
  --orange-260: var(--synqats-gb-accent-orange);
  --orange-300: var(--synqats-gb-accent-orange);
  --orange-330: var(--synqats-gb-accent-orange);
  --orange-345: var(--synqats-gb-accent-orange);
  --orange-360: var(--synqats-gb-accent-orange);
  --orange-400: var(--synqats-gb-accent-orange);
  --orange-430: var(--synqats-gb-accent-orange);
  --orange-460: var(--synqats-gb-accent-orange);
  --orange-500: var(--synqats-gb-accent-orange);
  --orange-530: var(--synqats-gb-accent-orange);
  --orange-560: var(--synqats-gb-accent-orange);
  --orange-600: var(--synqats-gb-accent-orange);
  --orange-630: var(--synqats-gb-accent-orange);
  --orange-660: var(--synqats-gb-accent-orange);
  --orange-700: var(--synqats-gb-accent-orange);
  --orange-730: var(--synqats-gb-accent-orange);
  --orange-760: var(--synqats-gb-accent-orange);
  --orange-800: var(--synqats-gb-accent-orange);
  --orange-830: var(--synqats-gb-accent-orange);
  --orange-860: var(--synqats-gb-accent-orange);
  --orange-900: var(--synqats-gb-accent-orange);
  --primary-100: var(--synqats-gb-bg-1);
  --primary-130: var(--synqats-gb-bg-1);
  --primary-160: var(--synqats-gb-bg-1);
  --primary-200: var(--synqats-gb-bg-1);
  --primary-230: var(--synqats-gb-bg-1);
  --primary-260: var(--synqats-gb-bg-1);
  --primary-300: var(--synqats-gb-bg-1);
  --primary-330: var(--synqats-gb-bg-1);
  --primary-345: var(--synqats-gb-bg-1);
  --primary-360: var(--synqats-gb-bg-1);
  --primary-400: var(--synqats-gb-bg-1);
  --primary-430: var(--synqats-gb-bg-1);
  --primary-460: var(--synqats-gb-bg-1);
  --primary-500: var(--synqats-gb-bg-1);
  --primary-530: var(--synqats-gb-bg-1);
  --primary-560: var(--synqats-gb-bg-1);
  --primary-600: var(--synqats-gb-bg-1);
  --primary-630: var(--synqats-gb-bg-1);
  --primary-645: var(--synqats-gb-bg-1);
  --primary-660: var(--synqats-gb-bg-1);
  --primary-700: var(--synqats-gb-bg-1);
  --primary-730: var(--synqats-gb-bg-1);
  --primary-760: var(--synqats-gb-bg-1);
  --primary-800: var(--synqats-gb-bg-1);
  --primary-830: var(--synqats-gb-bg-1);
  --primary-860: var(--synqats-gb-bg-1);
  --primary-900: var(--synqats-gb-bg-1);
  --green-100: var(--synqats-gb-accent-green);
  --green-130: var(--synqats-gb-accent-green);
  --green-160: var(--synqats-gb-accent-green);
  --green-200: var(--synqats-gb-accent-green);
  --green-230: var(--synqats-gb-accent-green);
  --green-260: var(--synqats-gb-accent-green);
  --green-300: var(--synqats-gb-accent-green);
  --green-330: var(--synqats-gb-accent-green);
  --green-345: var(--synqats-gb-accent-green);
  --green-360: var(--synqats-gb-accent-green);
  --green-400: var(--synqats-gb-accent-green);
  --green-430: var(--synqats-gb-accent-green);
  --green-460: var(--synqats-gb-accent-green);
  --green-500: var(--synqats-gb-accent-green);
  --green-530: var(--synqats-gb-accent-green);
  --green-560: var(--synqats-gb-accent-green);
  --green-600: var(--synqats-gb-accent-green);
  --green-630: var(--synqats-gb-accent-green);
  --green-660: var(--synqats-gb-accent-green);
  --green-700: var(--synqats-gb-accent-green);
  --green-730: var(--synqats-gb-accent-green);
  --green-760: var(--synqats-gb-accent-green);
  --green-800: var(--synqats-gb-accent-green);
  --green-830: var(--synqats-gb-accent-green);
  --green-860: var(--synqats-gb-accent-green);
  --green-900: var(--synqats-gb-accent-green);
  --blue-100: var(--synqats-gb-accent-blue);
  --blue-130: var(--synqats-gb-accent-blue);
  --blue-160: var(--synqats-gb-accent-blue);
  --blue-200: var(--synqats-gb-accent-blue);
  --blue-230: var(--synqats-gb-accent-blue);
  --blue-260: var(--synqats-gb-accent-blue);
  --blue-300: var(--synqats-gb-accent-blue);
  --blue-330: var(--synqats-gb-accent-blue);
  --blue-345: var(--synqats-gb-accent-blue);
  --blue-360: var(--synqats-gb-accent-blue);
  --blue-400: var(--synqats-gb-accent-blue);
  --blue-430: var(--synqats-gb-accent-blue);
  --blue-460: var(--synqats-gb-accent-blue);
  --blue-500: var(--synqats-gb-accent-blue);
  --blue-530: var(--synqats-gb-accent-blue);
  --blue-560: var(--synqats-gb-accent-blue);
  --blue-600: var(--synqats-gb-accent-blue);
  --blue-630: var(--synqats-gb-accent-blue);
  --blue-660: var(--synqats-gb-accent-blue);
  --blue-700: var(--synqats-gb-accent-blue);
  --blue-730: var(--synqats-gb-accent-blue);
  --blue-760: var(--synqats-gb-accent-blue);
  --blue-800: var(--synqats-gb-accent-blue);
  --blue-830: var(--synqats-gb-accent-blue);
  --blue-860: var(--synqats-gb-accent-blue);
  --blue-900: var(--synqats-gb-accent-blue);
  --black-100: var(--synqats-gb-bg-dim-dark);
  --black-130: var(--synqats-gb-bg-dim-dark);
  --black-160: var(--synqats-gb-bg-dim-dark);
  --black-200: var(--synqats-gb-bg-dim-dark);
  --black-230: var(--synqats-gb-bg-dim-dark);
  --black-260: var(--synqats-gb-bg-dim-dark);
  --black-300: var(--synqats-gb-bg-dim-dark);
  --black-330: var(--synqats-gb-bg-dim-dark);
  --black-345: var(--synqats-gb-bg-dim-dark);
  --black-360: var(--synqats-gb-bg-dim-dark);
  --black-400: var(--synqats-gb-bg-dim-dark);
  --black-430: var(--synqats-gb-bg-dim-dark);
  --black-460: var(--synqats-gb-bg-dim-dark);
  --black-500: var(--synqats-gb-bg-dim-dark);
  --black-530: var(--synqats-gb-bg-dim-dark);
  --black-560: var(--synqats-gb-bg-dim-dark);
  --black-600: var(--synqats-gb-bg-dim-dark);
  --black-630: var(--synqats-gb-bg-dim-dark);
  --black-660: var(--synqats-gb-bg-dim-dark);
  --black-700: var(--synqats-gb-bg-dim-dark);
  --black-730: var(--synqats-gb-bg-dim-dark);
  --black-760: var(--synqats-gb-bg-dim-dark);
  --black-800: var(--synqats-gb-bg-dim-dark);
  --black-830: var(--synqats-gb-bg-dim-dark);
  --black-860: var(--synqats-gb-bg-dim-dark);
  --black-900: var(--synqats-gb-bg-dim-dark);
  --red-100: var(--synqats-gb-accent-red);
  --red-130: var(--synqats-gb-accent-red);
  --red-160: var(--synqats-gb-accent-red);
  --red-200: var(--synqats-gb-accent-red);
  --red-230: var(--synqats-gb-accent-red);
  --red-260: var(--synqats-gb-accent-red);
  --red-300: var(--synqats-gb-accent-red);
  --red-330: var(--synqats-gb-accent-red);
  --red-345: var(--synqats-gb-accent-red);
  --red-360: var(--synqats-gb-accent-red);
  --red-400: var(--synqats-gb-accent-red);
  --red-430: var(--synqats-gb-accent-red);
  --red-460: var(--synqats-gb-accent-red);
  --red-500: var(--synqats-gb-accent-red);
  --red-530: var(--synqats-gb-accent-red);
  --red-560: var(--synqats-gb-accent-red);
  --red-600: var(--synqats-gb-accent-red);
  --red-630: var(--synqats-gb-accent-red);
  --red-660: var(--synqats-gb-accent-red);
  --red-700: var(--synqats-gb-accent-red);
  --red-730: var(--synqats-gb-accent-red);
  --red-760: var(--synqats-gb-accent-red);
  --red-800: var(--synqats-gb-accent-red);
  --red-830: var(--synqats-gb-accent-red);
  --red-860: var(--synqats-gb-accent-red);
  --red-900: var(--synqats-gb-accent-red);
  --white-100: var(--synqats-gb-bg-dim-light);
  --white-130: var(--synqats-gb-bg-dim-light);
  --white-160: var(--synqats-gb-bg-dim-light);
  --white-200: var(--synqats-gb-bg-dim-light);
  --white-230: var(--synqats-gb-bg-dim-light);
  --white-260: var(--synqats-gb-bg-dim-light);
  --white-300: var(--synqats-gb-bg-dim-light);
  --white-330: var(--synqats-gb-bg-dim-light);
  --white-345: var(--synqats-gb-bg-dim-light);
  --white-360: var(--synqats-gb-bg-dim-light);
  --white-400: var(--synqats-gb-bg-dim-light);
  --white-430: var(--synqats-gb-bg-dim-light);
  --white-460: var(--synqats-gb-bg-dim-light);
  --white-500: var(--synqats-gb-bg-dim-light);
  --white-530: var(--synqats-gb-bg-dim-light);
  --white-560: var(--synqats-gb-bg-dim-light);
  --white-600: var(--synqats-gb-bg-dim-light);
  --white-630: var(--synqats-gb-bg-dim-light);
  --white-660: var(--synqats-gb-bg-dim-light);
  --white-700: var(--synqats-gb-bg-dim-light);
  --white-730: var(--synqats-gb-bg-dim-light);
  --white-760: var(--synqats-gb-bg-dim-light);
  --white-800: var(--synqats-gb-bg-dim-light);
  --white-830: var(--synqats-gb-bg-dim-light);
  --white-860: var(--synqats-gb-bg-dim-light);
  --white-900: var(--synqats-gb-bg-dim-light);
  --yellow-100: var(--synqats-gb-accent-yellow);
  --yellow-130: var(--synqats-gb-accent-yellow);
  --yellow-160: var(--synqats-gb-accent-yellow);
  --yellow-200: var(--synqats-gb-accent-yellow);
  --yellow-230: var(--synqats-gb-accent-yellow);
  --yellow-260: var(--synqats-gb-accent-yellow);
  --yellow-300: var(--synqats-gb-accent-yellow);
  --yellow-330: var(--synqats-gb-accent-yellow);
  --yellow-345: var(--synqats-gb-accent-yellow);
  --yellow-360: var(--synqats-gb-accent-yellow);
  --yellow-400: var(--synqats-gb-accent-yellow);
  --yellow-430: var(--synqats-gb-accent-yellow);
  --yellow-460: var(--synqats-gb-accent-yellow);
  --yellow-500: var(--synqats-gb-accent-yellow);
  --yellow-530: var(--synqats-gb-accent-yellow);
  --yellow-560: var(--synqats-gb-accent-yellow);
  --yellow-600: var(--synqats-gb-accent-yellow);
  --yellow-630: var(--synqats-gb-accent-yellow);
  --yellow-660: var(--synqats-gb-accent-yellow);
  --yellow-700: var(--synqats-gb-accent-yellow);
  --yellow-730: var(--synqats-gb-accent-yellow);
  --yellow-760: var(--synqats-gb-accent-yellow);
  --yellow-800: var(--synqats-gb-accent-yellow);
  --yellow-830: var(--synqats-gb-accent-yellow);
  --yellow-860: var(--synqats-gb-accent-yellow);
  --yellow-900: var(--synqats-gb-accent-yellow);
}

body,
html {
  text-rendering: optimizeLegibility !important;
  font-family: "Rubik", sans-serif !important;
}

[class*=membersWrap] {
  background-color: var(--synqats-gb-bg-dim);
}

div[class*=sidebar] {
  margin-right: 16px;
}

div[class*=container] div[class*=base]:not([class*=baseLayer]):not([class*=member]):not([class*=typing]):not([class*=numberBadge]) {
  padding-right: 16px;
  padding-bottom: 16px;
}
div[class*=container] div[class*=base]:not([class*=baseLayer]):not([class*=member]):not([class*=typing]):not([class*=numberBadge]) div[class*=chat] {
  --bg-overlay-chat: var(--synqats-gb-bg-dim);
}

section[class*=title] {
  margin-bottom: 16px;
}

div[class*=sidebar],
section[class*=title],
div[class*=members],
aside[class*=profilePanel],
main[class*=chatContent] {
  border-radius: 8px !important;
  overflow: hidden;
}

div[class*=members],
aside[class*=profilePanel] {
  margin-left: 16px;
}

section[class*=panels] div[class*=container] {
  margin-bottom: unset;
}

div[class*=members] [class*=member] {
  margin-left: unset;
  background: unset;
}

div[class*=gradientContainer][class*=gradientBottom] {
  --gradient-color: 20, 22, 23;
  background: linear-gradient(#141617, rgba(var(--gradient-color), 0.738) 19%, rgba(var(--gradient-color), 0.541) 34%, rgba(var(--gradient-color), 0.382) 47%, rgba(var(--gradient-color), 0.278) 56.5%, rgba(var(--gradient-color), 0.194) 65%, rgba(var(--gradient-color), 0.126) 73%, rgba(var(--gradient-color), 0.075) 80.2%, rgba(var(--gradient-color), 0.042) 86.1%, rgba(var(--gradient-color), 0.021) 91%, rgba(var(--gradient-color), 0.008) 95.2%, rgba(var(--gradient-color), 0.002) 98.2%, transparent);
}

div[class*=bottomControls],
div[class*=regionSelectName] {
  --primary-300: var(--synqats-gb-fg-0);
}

div[role=dialog] div[class*=footer] {
  --primary-200: var(--synqats-gb-fg-0);
}

input[class*=inputDefault] {
  background-color: var(--synqats-gb-bg-0);
}

div[class*=searchBar] {
  background-color: var(--synqats-gb-bg-dim);
}

div[class*=members] {
  padding: 8px;
  background-color: var(--synqats-gb-bg-word);
}

div[class*=tabContainer_dc7d02] {
  color: var(--synqats-gb-fg-0) !important;
}

div[class*=tabItemSelected__3dfe7] {
  color: var(--synqats-gb-fg-1) !important;
  border-bottom-color: var(--synqats-gb-fg-1) !important;
}

div[class*=segmentControl_b89f83] {
  padding: 0 30px;
}

main[class*=chatContent] {
  background-color: var(--synqats-gb-bg-word);
}

[class*=member] [class*=subText] {
  display: none;
}

[class*=membersGroup] {
  height: unset;
  padding: 8px 0 4px 8px;
}

[id*=message-content] code {
  max-height: 240px;
}

form[class*=form]::before {
  display: none;
}

li[id*=chat-messages] div[class*=groupStart]:first-child {
  margin-top: 8px;
}

li[id*=chat-messages] {
  border-radius: 0 !important;
}

[class*=footerSeparator] {
  box-shadow: none !important;
}

svg[class*=artwork] {
  display: none !important;
  visibility: hidden !important;
}

[class*=membersWrap] {
  height: 100%;
}

[class*=membersGroup] [class*=member]:first-child {
  background: red !important;
}

[class*=wordmarkWindows] svg {
  display: none;
}

[class*=lookFilled][class*=colorPrimary] {
  color: var(--synqats-gb-fg-1);
}

[class*=defaultThemeSelection][class*=darkIcon] {
  background: var(--synqats-gb-bg-3-dark);
}

[class*=profileColors].theme-dark {
  --header-primary: var(--synqats-gb-fg-1-dark);
  --text-normal: var(--synqats-gb-fg-0-dark);
  --text-link: var(--synqats-gb-accent-blue-dark);
}

[class*=profileColors].theme-light {
  --header-primary: var(--synqats-gb-fg-1-light);
  --text-normal: var(--synqats-gb-fg-0-light);
  --text-link: var(--synqats-gb-accent-blue-light);
}

html:root {
  --vc-membercount-color: var(--synqats-gb-fg-0);
}

#vc-membercount {
  margin-top: 0 !important;
  padding-block: 8px;
  --primary-400: var(--vc-membercount-color);
}

.messagelogger-deleted {
  background-color: var(--synqats-gb-bg-diff-red);
  border-left: 4px solid var(--synqats-gb-accent-red);
}

div[class*=messageAttachment] div[class*=ripple] {
  --brand-500: var(--synqats-gb-bg-5) !important;
}
div[class*=messageAttachment] canvas[class*=waveform] {
  filter: grayscale(1);
}